.card{
    display: flex;
    align-items: flex-end;
    margin: 20px;
    width: 340px;
    height: 340px;
    
        &__img{
            object-fit: cover;
            width: 340px;
            height: 340px;
            border-radius: 10px;
        }
        &__title{
            position: absolute;
            width: 300px;
            font-size: 18px;
            text-wrap: wrap;
            padding: 20px;
            color:#fff;
        }
}