@import './variables';

.collapse{
    &__title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: $maincolor;
        color: #FFF;
        border-radius: 5px;
        font-size: 24px;
        font-weight: 700;


        &__icon{
            cursor: pointer;
            transform: rotate(0deg);
            transition: all 0.3s;
        }
    }
    &__content{
        font-size: 18px;
        font-weight: 400;
        line-height: 142.6%;
        visibility: hidden;
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 20px;
        transition: all 0.3s ease-in;
        background-color: $secondcolor;
    }
}

.active .collapse__title__icon{
    transform: rotate(-180deg);
}

.active .collapse__content{
    visibility: visible;
    height: auto;
    overflow: visible;
    padding: 20px;
    opacity: 1;
}



.medium {
    width: calc(50% - 38px);

    & .collapse__title{
        height: 42px;
        padding: 20px;
        font-size: 18px;
        font-weight: 500;
        &__icon{
            height: 32px;
            width: 32px;
            @media (max-width: 767.98px){
            height: 24px;
            width: 24px;
            }
        }
        @media (max-width: 767.98px){
            font-size: 13px;
            font-weight: 700;   
        }
    }

    & .collapse__content{
        @media (max-width: 767.98px){
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
        }
    }
    @media (max-width: 767.98px){
        width: 100%;
        color: #000;


    }

    
    
}