.erreur {
    display: grid;
    gap: 139px;
    margin: 100px 0px;

    @media (max-width: 767.98px) {
        gap: 100px;
    }

    &__number {
        width: 100%;
        color: #FF6060;
        text-align: center;
        font-size: 288px;
        font-weight: 700;

        @media (max-width: 767.98px) {
            font-size: 96px;
        }
    }

    &__description {
        color: #FF6060;
        width: 100%;
        text-align: center;
        font-size: 36px;
        font-weight: 500;

        @media (max-width: 767.98px) {
            font-size: 18px;
            padding: 0 10%;
            line-height: 26px;
        }
    }

    &__link {
        color: #000;
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        text-decoration-line: underline;

        @media (max-width: 767.98px) {
            font-size: 14px;
        }
    }
}