.gallery{
    display: flex;
    flex-wrap: wrap;
    height:auto;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(246, 246, 246, 1);
    padding: 35px;
    margin: 20px 100px;

}