.gallery{
    border-radius: 25px;
    max-width: 100%;
    margin: 43px 0x 50px 0px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 246, 246, 1);
    @media (max-width: 767.98px){
        background-color: #fff;
        margin:0;
        padding: 0;
    }
}