.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 100px 0px 100px;

    &__logo{
        height: 68px;
    }

    &__nav{
        font-size: 24px;
        text-decoration: none;
        color: rgba(255, 96, 96, 1);
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;

        &__home{
            color: inherit;
            text-decoration: none;
        }
        &__about{
            color: inherit;
            text-decoration: none;
        }
    }
}

.underline{
    text-decoration: underline;
}